html {
    background-color: rgb(4, 4, 68);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: auto;
    border-collapse: collapse;
}

tr {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}